.parks-page {
  background-color:white;
}

#parks-links {
  margin-bottom: -10px;
  background-color: yellowgreen;
  width: 1200px;
  padding-left: 100px;
  margin: auto;
}

#parks-link {
  display: inline-block;
  padding-right: 42px;
  margin-right: 75px;
  padding-left: 75px;
  color: white;
}