
#page-link {
  color: black;
  font-family: 'Playfair Display', serif;
}
.community-page {
  background-color: red;

}

#community-link {
  display: inline-block;
  padding-right: 42px;
  margin-right: 75px;
  padding-left: 75px;
  color: white;
  margin: auto;
}

Link {
  color: white;
}