
#community-links {
  margin-bottom: -10px;
  background-color: red;
}
.community-page {
  background-color: white;
}

#community-link {
  display: inline-block;
  padding-right: 42px;
  margin-right: 75px;
  padding-left: 75px;
  color: white;
  margin: auto;
}

