
#school-links {
  background-color: rgb(3, 94, 40);
}
.school-page {
  background-color: white;
}

#school-link {
  display: inline-block;
  padding-right: 42px;
  margin-right: 75px;
  padding-left: 75px;

  color: white;
  margin: auto;
}
