
#navbar-link {
  color: #fff;
  font-family: 'Playfair Display', serif;
}
.navbar-custom {
  background-color: black;
  margin-top: -15px;
}

#link {
  display: inline-block;
  padding-right: 42px;
  margin-right: 75px;
  padding-left: 75px;
}

#link1 {
  display: inline-block;
  padding-right: 42px;

  padding-left: 50px;
}