#jumbotron {
  font-family: 'Yesteryear', cursive;
  background: url(../../images/fallleaves.jpg) no-repeat;
  background-size: cover;
}

#tron {
  font-size: 50px;
  color: whitesmoke;  /* Fallback: assume this color ON TOP of image */
  padding-left: 20px;
  text-shadow: 2px 2px black;
}

#jumbo {
  font-size: 50px;
  color: whitesmoke;  /* Fallback: assume this color ON TOP of image */
  float: right;
  padding-right: 20px;
  text-shadow: 2px 2px black;
}